.pomodoro-container {
    text-align: center;
    background-color: #FFCFB3;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  .timer-buttons {
    margin: 1rem 0;
  }
  
  .button {
    background-color: #708871;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button.active {
    background-color: #973131;
  }
  
  .timer-display {
    font-size: 3rem;
    color: white;
    margin: 2rem 0;
  }
  
  .control-buttons {
    margin: 1rem 0;
  }
  
  .button.start:hover {
    background-color: #219a52;
  }
  
  .button.stop:hover {
    background-color: #973131;
  }
  